<h2>Välkommen till Etimo Kubernetes!</h2>
<p>Bifogat finner du din personliga configfil för Kubernetes. Du kan läsa mer om hur du använder den och hur du kommer igång med Etimo Kubernetes <a href='https://github.com/Etimo/etimo-kubernetes/blob/main/docs/Host_GettingStarted.md'>här</a>.</p>